@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap')

   /* css' de yorum satırı böyle olur... */
  {
    margin: 0;
    padding: 0;
  }
  .container{
    background:url(arkaplan.jpg);
    height:100vh;
    background-size:%100 %100;
  
  .container .navbar{
    width: % 100px;
    height:% 80px ;
    background: rgba(red,green,blue,alpha)
  }
}
.navbar.logo {
  display:inline-block;
  margin: left 100px;
  margin-top: 20px;
}
  .navbar ul{
    float: right;
    margin-right: 20px;
    
  }
  .navbar ul li{
    list-style: none;  /* başındaki ikonlar silinir.*/
    display: inline-block; /* yan yana gelmesini sağlarız.*/
    margin:0 8px;
    line-height:80px;
  }
  .navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:Roboto;


  }
  .navbar ul li a.active,
  .navbar ul li a.hover{
    background: linear-gradient(
      rgb(71, 71, 78),rgb(201, 192, 192),rgb(177, 115, 22)
     );
    border-radius: 2px}

.container .center{
  position: absolute;
  top: 37%;
  left: 50%; transform: translate(-50% -50%);
  font-family: sans-serif;
  user-select: none;


}


.center h1{
  color: beige;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  margin-left: -48%;


}
.center .buttons{
  margin-left: -12%;
}
 .buttons button{
  height: 50px;
  width: 150px;
  font-weight: bold;
  color: rgb(243, 204, 204);
  background: linear-gradient(
    rgb(66, 66, 245),rgb(248, 242, 242),rgb(48, 48, 54)
   );
   border: solid 5px rgb(243, 238, 238);
   cursor: pointer;
   outline: none;
   border-radius: 50px;
   transition: .5s;
 }
 .buttons button:hover{
  background-color: aqua;
 }